<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones en Compras</title>
    <link rel="stylesheet" href="../assets/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body onload="getAllProductsInaSelected(), getAllStaffInaSelected(), getAllSuppliersInaSelected()">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark myNavbar">
            <a class="navbar-brand" href="index.html"> <img src="../resources/logoTemporal.png" alt="" class="w-50"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pr-5" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clients.html">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="suppliers.html">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="receipts.html">Facturas</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="row">
            <aside class="col-4 aside">
                <h3 class="h1main text-center my-5">MENÚ</h3>
                <form class="form-inline my-2 my-lg-0 justify-content-center w-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn1" type="submit">Buscar</button>
                </form>
                <hr class="bg-white" />
                <nav class="row justify-content-center">
                    <ul>
                        <a href="" class="my-3">
                            <li>Historial de Compras</li>
                        </a>
                        <a href="" class="my-3">
                            <li>Proveedores</li>
                        </a>
                        <a href="" class="my-3">
                            <li>Historial de Facturas</li>
                        </a>
                        <a href="" class="my-3">
                            <li>Productos</li>
                        </a>
                        <a href="" class="my-3">
                            <li>Personal</li>
                        </a>
                    </ul>
                </nav>
                <hr class="bg-white" />
            </aside>
            <section class="col-8 row justify-content-center my-3">
                <p>
                    <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Agregar Compra
                </a>
                    <a class="btn btn-dark" type="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                  Modificar Compra
                </a>
                    <a class="btn btn-dark" type="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                  Borrar Compra
                </a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse" id="collapseExample">
                            <form class="my-4 ml-2">
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="supplierForPurchase" class="text-black-50 text-center">Proveedor</label>
                                        <select id="supplierForPurchase">

                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="personalName" class="text-black-50 text-center">Personal</label>
                                        <select id="personalName">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="productName" class="text-black-50 text-center">Productos</label>
                                    <select id="productName">

                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="datePurchase" class="text-black-50 text-center">Fecha de compra</label>
                                        <input type="date" class="form-control" id="datePurchase">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="countPurchase" class="text-black-50 text-white">Cantidad</label>
                                        <input type="number" class="form-control" id="countPurchase" onclick="getInfoFromProduct()">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <label for="subTotalPurchase" class="text-black-50 text-center">Subtotal</label>
                                        <h6 type="date" class="form-control" id="subTotalPurchase"></h6>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="discountPurchase" class="text-black-50 text-center">Descuentos</label>
                                        <h6 type="date" class="form-control" id="discountPurchase"></h6>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="ivaPurchase" class="text-black-50 text-center">IVA</label>
                                        <h6 type="date" class="form-control" id="ivaPurchase">21%</h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="totalPurchase" class="text-black-50 text-center">Total de la compra</label>
                                        <h6 type="date" class="form-control" id="totalPurchase"></h6>
                                    </div>
                                </div>
                                <div class="buttons row justify-content-around">
                                    <button type="button" class="btn btn2 col-4" onclick="getInfoFromProduct()">Realizar compra</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="collapse" id="collapseExample2">
                                <form class="form-inline my-2 my-lg-0 my-n3">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse" id="collapseExample3">
                                <form class="form-inline my-2 my-lg-0 my-n3">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por ID" aria-label="Search">
                                    <button class="btn btn-dark my-2 my-sm-0" type="button">Buscar</button>
                                </form>
                                <div class="resultSearch row justify-content-center">
                                    <div class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                                        <table class="table table-dark">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Personal encargado</th>
                                                <th scope="col">Fecha de la factura</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Productos</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <footer class="footer row">
            <div class="pull-left col-12">
                <p class="text-center">Copyright &copy;2020 by Entertaiment</p>
            </div>
        </footer>
        </div>
    <script src="../dist/js/purchasesConnection.js"></script>
    <script src="../assets/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="../assets/bootstrap-4.5.3-dist/js/bootstrap.bundle.js"></script>
</body>

</html>